@inject IHttpContextAccessor Accessor

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - HR Management</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" />
	<link href="~/lib/sbadmin2/sb-admin-2.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">HR Management</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">

						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-controller="Employee" asp-action="Index">Employees</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-controller="Designation" asp-action="Index">Designations</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-controller="Department" asp-action="Index">Departments</a>
						</li>
						@if (Accessor?.HttpContext?.User?.Identity?.IsAuthenticated ?? false)
						{
							<li class="nav-item ms-auto">
								<a class="nav-link text-light" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
							</li>
						}
						else
						{
							<li class="nav-item ms-auto">
								<a class="nav-link text-light" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
							</li>
						}
						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-controller="Signup" asp-action="Index">Signup</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted bg-dark">
		<div class="container">
			&copy; 2022 - HR Management - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/sbadmin2/sb-admin-2.min.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
